# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Project files
.vs
x64
*.pdb
*.idb
*.tlog
*.log
*.db
*.recipe
*.ilk
*.log
*.tlog
.vs/RiffRunner/v17/.suo
.vs/RiffRunner/v17/Browse.VC.db
RiffRunner/x64/Debug/RiffRunner.exe.recipe
RiffRunner/x64/Debug/RiffRunner.ilk
RiffRunner/x64/Debug/RiffRunner.log
RiffRunner/x64/Debug/RiffRunner.tlog/CL.command.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/CL.read.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/CL.write.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/link.command.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/link.read.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/link.write.1.tlog
RiffRunner/x64/Debug/RiffRunner.tlog/RiffRunner.lastbuildstate
RiffRunner/x64/Debug/vc143.idb
RiffRunner/x64/Debug/vc143.pdb
x64/Debug/RiffRunner.pdb
